.venv/
.vscode/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
outputs/
results/
*_output.ipynb
multirun/
wandb/
paper/
*.egg-info/
dist/
build/
.DS_Store
*.npy
!**/fixtures/**/*.npy
docs/literature/*
